DATABASE_URL=postgresql://case:SENHA_BANCO@db:5432/case_db
POSTGRES_PASSWORD=SENHA_BANCO
SECRET_KEY=SECRET_KEY
ACCESS_TOKEN_EXPIRE_MINUTES=MINUTOS
REFRESH_TOKEN_EXPIRE_DAYS=DIAS
HF_TOKEN=HUGGING_FACE_TOKEN